.abas{
    padding-bottom: 1rem;
    margin: 1rem;
    border-bottom: .15rem solid #353535;
}

.links{
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid aliceblue;
}

.active{
    color: aqua;
}

h1{
    padding: 1rem;
}

